html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Open Sans', sans-serif;
    
  }
  
  /*  apply a natural box layout model to all elements  */
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/* body {
    margin: 0;
    padding:0;
}
main{
    margin: 0;
    padding: 0;
} */

header, main, footer {
    max-width: 1170px;
    margin: 0 auto;
}

header {
    background-image: url(../images/header3.2.jpg);
    height: 200px;
    background-position: 0% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
}

header h1, h2 {
    margin: 0;
    padding: 1% 0 0 1%;
}

header h1 {
    font-size: 2.9rem;
    font-family: 'Oswald', sans-serif;
}

header h2 {
    padding-top: 0;
    font-size: 1.1rem;
    letter-spacing: .15rem;
}

main {
    margin-bottom: 3%;
    padding-left: 0;
}

main h1, h2, p {
    padding-left: 1%;
}

main h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
}


main h2 {
    font-size: 1.2rem;
}

main p {
    font-size: 1rem;
}

div.col1 div{
    display: flex;
    flex-direction: column;

}

section#game {
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    padding-bottom: 250px;
    margin-bottom: 0;
}


footer {
background-color: #000;
color: #fff;
display: flex; 
justify-content: center;

}

